.navbar{
text-align:center;
width:100%;
background:blue;
opacity:0.6;
}
.navbar ul{
margin:0;
padding:0;
list-style:none;
position:relative;
}
.navbar ul li a
{
display:block;
padding:25px;
color:white;
text-decoration:none;
width:150px;
}
.navbar ul:after
{
content:"";
clear:both;
display:block;
}
.navbar ul li{
float:left;
list-style:none;
}
.navbar ul ul{
display:none;
}
.navbar ul li:hover> ul{
display:block;
}
.navbar ul li:hover{
 background:black;
 transtition:0.9s;
}
.navbar ul li:hover a{
  color:white;
}

.navbar ul ul{
background: black;
padding :0;
margin:0;
position:absolute; top:100%;
}
.navbar ul ul li{
float:none;
position:relative;
}
.navbar ul ul li a{
padding:25px;
color:white;
width:300px;
text-align:left;
}
.navbar ul ul li a:hover{
 background:none;
 color:black;
 transition:0.9s;
}
.container1{
  max-width: 1300px;
padding: 20px 50px;
background-color : blue;
line-height: 1.65;
margin: 40px auto 0 auto;
}

.container2{
  max-width: 1300px;
  background-color: #fff;
  margin: 40px;
  line-height: normal;
  padding: 20px 50px;
  display: flex;
}

.cancer{
  flex: 1;
  background-color: #eee;
  margin-right: 20px;
  #text-align: center;
  padding: 20px;
}
.tuberculosis{
  flex: 1;
  margin-right: 20px;
  background-color: #0082c8;
  #text-align: center;
  padding: 20px;
}
.tumor{
  flex: 1;
  margin-right: 20px;
  background-color: #cbe56c;
  #text-align: center;
  padding: 20px;
}
